<app-cabecera></app-cabecera>


<mat-card>
    <h1>Bienvenido</h1>
    <img src="./assets/img/hospital.jpg">
    <!-- <mat-card-title>Donde desea ingresar?</mat-card-title>
    <mat-card-subtitle><a routerLink="/pedirTurno">Turno</a></mat-card-subtitle>
    <mat-card-subtitle><a routerLink="/verTurnos">Lista de Turnos</a></mat-card-subtitle>
    <mat-card-subtitle><a routerLink="/registro">Alta de Profesional</a></mat-card-subtitle>
    <mat-card-subtitle><a routerLink="/verUsuarios">Lista Profesional</a></mat-card-subtitle>
    <mat-card-subtitle><a routerLink="/verUsuarios">Lista Pacientes</a></mat-card-subtitle>
    <mat-card-subtitle><a routerLink="/verCartilla" >Cartilla Medica</a></mat-card-subtitle> -->
    <!-- <mat-card-subtitle><a href="/home">Ficha Medica</a></mat-card-subtitle> -->
</mat-card>

