<app-cabecera></app-cabecera>

<h1>Bienvenido</h1>
<mat-card>
    <mat-card-title>Donde desea ingresar?</mat-card-title>
    <mat-card-subtitle><a href="/pedirTurno">Turno</a></mat-card-subtitle>
    <mat-card-subtitle><a href="/verTurnos">Lista de Turnos</a></mat-card-subtitle>
    <mat-card-subtitle><a href="/registro">Alta de Profesional</a></mat-card-subtitle>
    <mat-card-subtitle><a href="/verUsuarios">Lista Profesional</a></mat-card-subtitle>
    <mat-card-subtitle><a href="/verUsuarios">Lista Pacientes</a></mat-card-subtitle>
    <mat-card-subtitle><a href="/verCartilla">Cartilla Medica</a></mat-card-subtitle>
    <!-- <mat-card-subtitle><a href="/home">Ficha Medica</a></mat-card-subtitle> -->
</mat-card>

