<mat-card>
  <mat-card-title>Listado</mat-card-title>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Rol</th>
        <th>Foto 1</th>
        <th>Foto 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listado" >
        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
        <td>{{usuario.mail}} </td> 
        <td>{{usuario.rol}} </td> 
        <td><img [src]="usuario.img1" alt=""></td> 
        <td><img [src]="usuario.img2" alt=""></td> 
        
      </tr>
    
    </tbody>
  </table>
</mat-card>