<!-- <mat-card>
  <mat-card-title>Paciente</mat-card-title>
  
  <div [hidden]="!mostrarDatos" action="">
    <form action="">
      <mat-label>Nombre: </mat-label>
      <mat-label>{{usuario.nombre}}</mat-label>
    <br>
      <mat-label>Apellido: </mat-label>
      <mat-label>{{usuario.apellido}}</mat-label>
    <br>
      <mat-label>Foto 1</mat-label>
      <img [src]="usuario.img1">
    <br>
      <mat-label>Foto 2</mat-label>
      <img [src]="usuario.img2" alt="">
    </form>
  </div>
  
  <br>
  <button mat-raised-button color="primary"(click)="getUser()">getUser</button>
</mat-card> -->

<mat-card>
  <mat-card-title>Listado</mat-card-title>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Rol</th>
        <th>Foto 1</th>
        <th>Foto 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listado" >
        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
        <td>{{usuario.mail}} </td> 
        <td>{{usuario.rol}} </td> 
        <td><img [src]="usuario.img1" alt=""></td> 
        <td><img [src]="usuario.img2" alt=""></td> 
        
      </tr>
    
    </tbody>
  </table>
</mat-card>