<mat-toolbar color="primary" class="expanded-toolbar">Registro de Usuario</mat-toolbar>

<mat-card>
  <mat-card-title>Registro</mat-card-title>
  <div mat-card-avatar class="example-header-image"></div>
  <form action="">
    <div class="row">

      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" [(ngModel)]="nombre" name="uname">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" [(ngModel)]="apellido" name="usurname">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Mail</mat-label>
          <input matInput type="text" [(ngModel)]="mail" name="umail">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="clave" name="psw">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Repita Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="repitaClave" name="rpsw">
        </mat-form-field>
        <br>
      </div>

      <div class="col-md-6">
        <div class="full-width-input">
          <mat-label>Imagen 1</mat-label><br>
          <input type="file" (change)="onFileSelected($event)">
        </div>
        <br>
        <div class="full-width-input">
          <mat-label>Imagen 2</mat-label><br>
          <input type="file" (change)="onFileSelected($event)" disabled>
        </div>
        <br>
      </div>
    </div>
    <mat-checkbox class="example-margin" [(ngModel)]="terminosCondiciones" name="chck">Acepto terminos y condiciones.</mat-checkbox>
    <br>
    <a class="example-button-row" routerLink="/inicio" routerLinkActive="active" *ngIf="esPaciente" mat-raised-button color="warn">Volver</a>
    <button class="example-button-row" mat-raised-button color="primary" (click)="Registrar()">Registrar</button>
  </form>
</mat-card>
  