<div *ngIf="mostrar"  id="id01" class="modal ">
    <form class="modal-content animate ld ld-zoom-in" >
      <span (click)="cerrar()" class="close" title="Close Modal">×</span>
      <div  style="margin-top: 3rem;" class="container">
        <form *ngIf="estado == '1'" [formGroup]="form">
          <h2>Paciete</h2>
          <mat-label>Nombre: {{turno.paciente.nombre}}</mat-label>
          <br>
          <mat-label>Apellido: {{turno.paciente.apellido}}</mat-label>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label>Edad</mat-label>
            <input matInput type="number" formControlName="edad">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label>Temperatura</mat-label>
            <input matInput type="number" formControlName="temperatura">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label>Presion</mat-label>
            <input matInput type="number" formControlName="presion">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label>Comentario</mat-label>
            <!-- <input matInput type="text" formControlName="comentario"> -->
            <textarea matInput type="text" formControlName="comentario"></textarea>
          </mat-form-field>

          <div *ngFor="let nuevoItem of listaDinamicos">
            <mat-form-field class="full-width-input">
              <mat-label>Nuevo dato</mat-label>
              <input [(ngModel)]="nuevoItem.propiedad" matInput  type="text" value="chau" [ngModelOptions]="{standalone: true}">
            </mat-form-field> 
            <mat-form-field class="full-width-input">
            <mat-label >Valor nuevo dato</mat-label>
              <input [(ngModel)]="nuevoItem.valor" matInput  type="text" value="chau" [ngModelOptions]="{standalone: true}">
            </mat-form-field> 
          </div>

          
          <button *ngIf="listaDinamicos.length < 3" mat-raised-button class="btn-success" (click)="onAgregarDatos()">+ Datos</button>
          <br>
          <br>

          <button mat-raised-button color="warn" style="margin-right: 1rem;"  (click)="cerrar()">Cancelar</button>
          <button mat-raised-button color="primary" style="margin-right: 1rem;"  (click)="terminarTurno()">Terminar</button>
        </form>
        <!-- <div style="margin-left: 0.8rem;" id="extras" *ngFor="let nuevoItem of listaDinamicos" class="row">
        </div> -->
        <form *ngIf="estado != '1' && estado != '6' && estado != '7' && estado != '9'" [formGroup]="form">
          <h2>Paciete</h2>
          <mat-label>Nombre: {{turno.paciente.nombre}}</mat-label>
          <br>
          <mat-label>Apellido: {{turno.paciente.apellido}}</mat-label>
          <br>
          <mat-label>Edad: {{turno.resenia.edad}}</mat-label>
          <br>
          <mat-label>Temperatura: {{turno.resenia.temperatura}}</mat-label>
          <br>
          <mat-label>Presion: {{turno.resenia.presion}}</mat-label>
          <br>
          <textarea matInput type="text" disabled>Comentario: {{turno.resenia.comentario}}</textarea>
          <br>
          <mat-label *ngIf="turno.estado == '2'">Estado: Turno Finalizado</mat-label>
          <mat-label *ngIf="turno.estado == '3'">Estado: Turno reseñado por paciente</mat-label>
          <mat-label *ngIf="turno.estado == '5'">Estado: Turno cancelado</mat-label>
          <br>
          <br>
          <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>
        </form>

        <form *ngIf="estado == '6'" [formGroup]="form">
          <h2>Medico</h2>
          <mat-label>Dr. {{turno.medico.apellido}}</mat-label>
          <br>
          <mat-label>Especialidad: {{turno.medico.especialidad}}</mat-label>
          <br>
          <h2>Paciete</h2>
          <mat-label>Nombre: {{turno.paciente.nombre}}</mat-label>
          <br>
          <mat-label>Apellido: {{turno.paciente.apellido}}</mat-label>
          <br>
          <mat-label>Edad: {{turno.resenia.edad}}</mat-label>
          <br>
          <mat-label>Temperatura: {{turno.resenia.temperatura}}</mat-label>
          <br>
          <mat-label>Presion: {{turno.resenia.presion}}</mat-label>
          <br>
          <textarea matInput type="text" disabled>Comentario: {{turno.resenia.comentario}}</textarea>
          <br>
          <mat-label *ngIf="turno.estado == '2'">Estado: Turno Finalizado</mat-label>
          <mat-label *ngIf="turno.estado == '3'">Estado: Turno reseñado por paciente</mat-label>
          <mat-label *ngIf="turno.estado == '5'">Estado: Turno cancelado</mat-label>
          <br>
          <br>
          <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>
        </form>

        <form *ngIf="estado == '7'" [formGroup]="form">
          <h2>Medico</h2>
          <mat-label>Dr. {{turno.medico.apellido}}</mat-label>
          <br>
          <mat-label>Especialidad: {{turno.medico.especialidad}}</mat-label>
          <br>
          <h2>Paciete</h2>
          <mat-label>Nombre: {{turno.paciente.nombre}}</mat-label>
          <br>
          <mat-label>Apellido: {{turno.paciente.apellido}}</mat-label>
          <br>
          <mat-label>Edad: {{turno.resenia.edad}}</mat-label>
          <br>
          <mat-label>Temperatura: {{turno.resenia.temperatura}}</mat-label>
          <br>
          <mat-label>Presion: {{turno.resenia.presion}}</mat-label>
          <br>
          <textarea matInput type="text" disabled>Comentario: {{turno.resenia.comentario}}</textarea>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label>Atencion medica:</mat-label>
            <input matInput type="text" formControlName="comentarioPaciente">
          </mat-form-field>
          <br>
          <br>
          
          <button mat-raised-button color="warn" style="margin-right: 1rem;"  (click)="cerrar()">Cerrar</button>
          <button mat-raised-button color="primary" style="margin-right: 1rem;"  (click)="terminarPaciente()">Terminar</button>
        </form>

        <form *ngIf="estado == '9'" [formGroup]="form">
          <h2>Medico</h2>
          <mat-label>Dr. {{turno.medico.apellido}}</mat-label>
          <br>
          <mat-label>Especialidad: {{turno.medico.especialidad}}</mat-label>
          <br>
          <h2>Paciete</h2>
          <mat-label>Nombre: {{turno.paciente.nombre}}</mat-label>
          <br>
          <mat-label>Apellido: {{turno.paciente.apellido}}</mat-label>
          <br>
          <mat-label>Edad: {{turno.resenia.edad}}</mat-label>
          <br>
          <mat-label>Temperatura: {{turno.resenia.temperatura}}</mat-label>
          <br>
          <mat-label>Presion: {{turno.resenia.presion}}</mat-label>
          <br>
          <textarea matInput type="text" disabled>Comentario: {{turno.resenia.comentario}}</textarea>
          <br>
          <mat-label *ngIf="turno.estado == 3">Atencion medica: {{turno.reseniaPaciente.comentario}}</mat-label>
          <br>
          <br>
          
          <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>
        </form>
      </div>
    </form>
</div>