<mat-toolbar color="primary" class="expanded-toolbar">Ingreso de usuario</mat-toolbar>

<mat-card>
  <mat-card-title>Ingreso</mat-card-title>
  <div mat-card-avatar class="example-header-image"></div>
  <form [formGroup]="form">
    <mat-form-field class="full-width-input">
      <mat-label>Mail</mat-label>
      <input matInput type="text" formControlName="mail" name="umail">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width-input">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="clave" name="psw">
    </mat-form-field>
    <br>
    <div class="recaptcha">
      <re-captcha (resolved)="resolved($event)" siteKey="6LdHjqMZAAAAAMkK2810kzuViD35R3xooQGRi-P4"></re-captcha>
    </div>
    <br>
    <button [hidden]="ocultarVerificar"  mat-raised-button color="primary" *ngIf="logeando" (click)="Entrar()">Entrar</button>
    <button [hidden]="!ocultarVerificar" mat-raised-button color="primary" *ngIf="logeando" (click)="Entrar()"><i class="fa fa-spinner fa-spin"></i> Ingresando</button>
  </form>
  <br>
  <mat-divider></mat-divider>
  <br>
  <h3>No tenes usuario? <a routerLink="/inicio/registro" routerLinkActive="active">Registrate</a></h3>
  <mat-divider></mat-divider>
  <br>
  <div class="ingresoRapido">
    <button mat-raised-button class="btn-warning" *ngIf="logeando"  (click)="IngresoRapido()">Admin</button>
    <button mat-raised-button class="btn-warning" *ngIf="logeando"  (click)="IngresoRapido()">Profesional</button>
    <button mat-raised-button class="btn-warning" *ngIf="logeando"  (click)="IngresoRapido()">Paciente</button>
  </div>
</mat-card>

<app-footer></app-footer>
