.example-header-image {
    background-image: url('/assets/imagenes/login.png');
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
