<app-cabecera></app-cabecera>

<mat-card>
  <mat-card-title>Registro Administrativo</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="Registrar($event)">
    <div class="row">

      <div class="col-md-6">
        <mat-form-field class="full-width-input">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="nombre" name="uname">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" formControlName="apellido" name="usurname">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Mail</mat-label>
          <input matInput type="text" formControlName="mail" name="umail">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="clave" name="psw">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <mat-label>Repita Contraseña</mat-label>
          <input matInput type="password" formControlName="repitaClave" name="rpsw">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Tipo de usuario</mat-label>
          <mat-select formControlName="rol" name="role" (selectionChange)="seleccionUsuario()">
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario.value">
              {{usuario.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <div class="profesionalForm" *ngIf="esProfesional" >
          <!-- <mat-form-field> -->
            <mat-label>Profesion:</mat-label>
            <mat-selection-list class="lista" formControlName="especialidad" scroll #especialidades>
              <mat-list-option *ngFor="let especialidad of checkbox_list" [value]="especialidad.nombre" >
                {{especialidad.nombre}}
              </mat-list-option>
            </mat-selection-list>

            <mat-label>Dias:</mat-label>
            <mat-selection-list class="lista" formControlName="dia" scroll >
              <mat-list-option *ngFor="let dia of dias" [value]="dia" >
                {{dia}}
              </mat-list-option>
            </mat-selection-list>

            <mat-label>Horario:</mat-label>
            <br>
            <div class="row">
              <mat-form-field class="col-md-6">
                <mat-label>Entrada</mat-label>
                <mat-select formControlName="entrada" (selectionChange)="seleccionHora('entrada')">
                  <mat-option *ngFor="let hora of turnoshoras" [value]="hora">
                    {{hora}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field *ngIf="mostrarSalida" class="col-md-6">
                <mat-label>Salida</mat-label>
                <mat-select formControlName="salida" (selectionChange)="seleccionHora('salida')">
                  <mat-option *ngFor="let hora of turnoSalida" [value]="hora">
                    {{hora}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
          <!-- </mat-form-field> -->
        </div>

        <div class="adminForm" *ngIf="esAdmin">
          <!-- <mat-form-field class="full-width-input"> -->
            <mat-label>Terminos y condiciones</mat-label><br>
            <br>
            <!-- <input type="file" (change)="onFileSelected($event)" disabled> -->
            <mat-checkbox formControlName="terminosCondiciones" name="tyc">
              Acepta terminos por nuevo Admin?
            </mat-checkbox>
            <br>
          <!-- </mat-form-field> -->
        </div>
      </div>

    </div>
    <br>
    <!-- <button class="example-button-row" mat-raised-button color="primary" type="submit">Registrar</button> -->
    <button [hidden]="ocultarVerificar"  mat-raised-button color="primary" type="submit">Registrar</button>
    <button [hidden]="!ocultarVerificar" mat-raised-button color="primary" ><i class="fa fa-spinner fa-spin"></i> Registrando</button>
  </form>
</mat-card>
  