<app-cabecera></app-cabecera>

<mat-card>
  <mat-card-title>Pedir Turno</mat-card-title>
  <form role="form" class="form-horizontal">

    <mat-form-field color="accent">
      <mat-label>Seleccione una fecha</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Medico</mat-label>
      <mat-select [(ngModel)]="selectedValueProf" name="profesional">
        <mat-option *ngFor="let profesional of profesionales" [value]="profesional.mail">
          Dr. {{profesional.apellido}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Horario</mat-label>
      <mat-select [(ngModel)]="selectedValueHora" name="turnoHora">
        <mat-option *ngFor="let turnoHora of turnoshoras" [value]="turnoHora.value">
          {{turnoHora.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button class="example-button-row" mat-raised-button color="primary" (click)="pedirTurno()"><i class="fas fa-search"></i> Solicitar</button>
  </form>
  <br>
</mat-card>